.inputmultiselect {
    width: 400px !important;
}

.descripcionproducto {
    width: 900px !important;
    height: 80px !important;
    font-size: 15px !important;
    border-radius: 10px !important;
}
