.tituloPdf{
    text-align: center;
}

.parrafoPdf{
    text-align: justify;
}

.imagenesCliente{
    width: 150px;
    height: 75px;
}

.botonPdf{
    display: flex;
    margin: auto;
    margin-bottom: 30px;
}

.logoPdf{
    width: 250px;
    height: 250px;
    margin: auto;
    display: flex;
}

.ocultarContenedor{
    display: none;
}

.table {
    width: 190mm; /* 210mm - 5mm x 2 (margen A4) - 5mm x 2 (margen tabla) */
    margin: 5mm;
}